@charset "utf-8";
body h1 {
	color: #FFA600;
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 40px;
	text-align: center;
}
.key {
	color: #FFFFFF;
	background-color: #0024FF;
	font-size: x-large;
}
body p img {
	border: 10px dotted #81FF00;
}
body {
    background-image: url(haikei.siro.png);
    background-size: cover;
}
